.expense-pie-chart-container{

  width:100%;

  height:420px;

  max-width:900px;

  margin:auto;

  padding:20px;

  box-sizing:border-box;

  background:white;

  border-radius:16px;

  overflow:hidden;

}



@media(max-width:768px){

.expense-pie-chart-container{

  height:350px;

  padding:15px;

}

}



@media(max-width:360px){

.expense-pie-chart-container{

  height:280px;

  padding:8px;

}

}



@media(max-width:250px){

.expense-pie-chart-container{

  height:240px;

  padding:3px;

}

}